<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
</head>
<body>

<h1>ユーザー登録</h1>

<form action="/register" method="post">

    <p>ユーザー名</p>
    <input type="text" name="username">

    <p>パスワード</p>
    <input type="password" name="password">
    <br><br>
    <p th:if="${error}"
       th:text="${error}"
       style="color:red;">
    </p>

    <button type="submit">
        登録
    </button>

    <br>

    <p>
        すでにアカウントをお持ちの方は
        <a href="/login">ログインはこちら</a>
    </p>

</form>

</body>
</html>
</form>
</body>
</html>